html {
	color: #000;
	background: #FFF;
}

body {
	margin: 0;
	padding: 0;
	font-family: "'Helvetica Neue'",Helvetica,Arial,Verdana,Geneva,sans-serif;
	color: #cecece;
}

header {
	overflow: visible;
}

nav {
	background-color: #eee;
	clear: both;
}

main {
	clear: both;
	background-image: none;
}

footer {
	padding-left: 0;
}

h1 {
	padding: 0;
	margin: 0;
}

#title {
	background-color: #005a9c;
	width: auto;
	position: static;
	text-align: center;
	padding: 0;
	margin: 0;
	height: auto;
}

#description {
	padding-bottom: 5px;
	margin-bottom: 20px;
	background: 0;
	border: 0;
	display: block;
}

form {
	margin: 0;
	color: #666;
	width: 70%;
	border: 1px #dbe7f0 solid;
	padding:5px;
}

input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	width: 90%;
}

select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#radio {
	padding-top: 2px;
}

#radio input {
	width: 10%;
}

#checkbox input {
	width: 10%;
}

textarea {
	width: 90%;
}